@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "quicksand", serif;
}

/*animação la do titulo da geleria, massa*/
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 6s ease infinite;
}

.glow-text {
  text-shadow: 0 0 2px rgba(236, 72, 153, 0.6), 0 0 5px rgba(147, 51, 234, 0.4),
    0 0 10px rgba(236, 72, 153, 0.3);
}
